
.homeItem{
	background-color: #a6e185;
}

.homeItemAlt{
	background-color: #96e1e5;
}

/* Overriding material styles */

	/* Progress Bar */

	md-progress-linear .md-container{
		height:20px;
	}

	md-progress-linear .md-container .md-bar{
		height:20px;
	}

