<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Angular Material Template</title>	
	<link href="./node_modules/angular-material/angular-material.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="./app/styles/style.css">
</head>


<body ng-app="starterApp" layout="column" ng-controller="appCtrl">

	<!-- HEader  -->
    	<header>
    		
    		<md-toolbar layout="row" layout-padding>
    			<div class="md-toolbar-tools">

    				<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft('leftMenu')">
			          <md-icon>
			          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
					    <path d="M0 0h18v18h-18z" fill="none"></path>
					    <path d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
						</svg>

			      	  </md-icon>
			        </md-button>

			      <h1>Angular Material - Starter App</h1>
			      <span flex></span>

			      <md-button class="md-icon-button">
			      	<md-icon style="color:white;" class="ng-scope ng-isolate-scope" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
				    <path d="M0 0h24v24h-24z" fill="none"></path>
				    <path d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z"></path>
					</svg></md-icon>
			  	  </md-button>

			      <md-button aria-label="Close" class="" >Other button</md-button>
			    </div>
		    </md-toolbar>

    	</header>

    

    	<!-- Side Nav -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu">
	        <md-toolbar layout="row" class="md-theme-indigo">
	        	<h1 class="md-toolbar-tools">Sidenav Left</h1> 
	        	<md-button ng-click="toggleLeft('leftMenu')" aria-label="Close" class="" >Close</md-button>
	      	</md-toolbar>
	        <md-list flex>
		        <!-- List item #1 -->
		        <md-list-item>
		            <md-button href="#home" aria-label="Home" class="" ng-click="toggleLeft('leftMenu')">Home
			      </md-button>
		        </md-list-item>

		        <!-- List item #2 -->
		        <md-list-item >
		            <md-button href="#form" aria-label="Home" class="" ng-click="toggleLeft('leftMenu')">Materials
		        </md-list-item>
	      	</md-list>
    	</md-sidenav>



        <main>
        		<!-- Views -->
        		<div ui-view="">
        			
        		</div>
        	
        </main>


    	
    
	
    	
	    
        






	<script src="./node_modules/angular/angular.js"></script>
	<script src="./node_modules/angular-animate/angular-animate.js"></script>
	<script src="./node_modules/angular-aria/angular-aria.js"></script>
	<script src="./node_modules/angular-material/angular-material.js"></script>
	<script src="./node_modules/angular-ui-router/release/angular-ui-router.js"></script>

	<script src="./app/app.module.js"></script>

	
	<!-- Load controllers -->
	<script src="app/controllers/appCtrl.js"></script>
    <script src="app/controllers/homeCtrl.js"></script>
    <script src="app/controllers/formCtrl.js"></script>
	
</body>
</html>