<div layout-padding class="content">
	<h2>Home</h2>

	<h4>This is a basic content home page.</h4>
	<p>
		My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?
	</p>	
</div>

<div layout="row">
  <div flex class="homeItem">First Flex item in row</div>
  <div flex class="homeItemAlt">Second Flex item in row</div>
  <div flex class="homeItem">Third Flex item in row</div>
</div>
<div layout="column">
  <div flex layout-padding class="homeItemAlt">First Flex item in column with padding</div>
  <div flex class="homeItem">Second Flex item in column</div>
</div>